<div class='m-5'>
  <h1 class='my-5'>Cập nhật sản phẩm</h1>
  <form method='POST' action='/products/{{product._id}}?_method=PUT'>
    <div class='form-group'>
      <label for='name'>Tên sản phẩm:</label>
      <input
        type='text'
        class='form-control'
        value='{{product.name}}'
        id='name'
        name='name'
        placeholder='Enter tên' />
    </div>
    <div class='form-group'>
      <label for='image'>Ảnh sản phẩm: </label>
      <input
        type='file'
        class='form-control'
        value
        id='image'
        name='image'
        placeholder='Enter image' />
      <img id='previewImage' src="{{product.imageBase64}}" alt="Product Image" width="400px"
        height="auto">
      <input
        style="visibility: hidden;"
        type='text'
        class='form-control'
        id='imageBase64'
        name='imageBase64'
        value
        placeholder='Enter image' />
    </div>
    <div class='form-group'>
      <label for='description'>Mô tả sản phẩm</label>
      <textarea
        type='text'
        class='form-control'
        id='description'
        name='description'
        placeholder='Enter description'>{{product.description}}</textarea>
    </div>
    <div class='form-group'>
      <label for='price'>Giá gốc sản phẩm: </label>
      <input
        type='text'
        class='form-control'
        value='{{product.price}}'
        id='price'
        name='price'
        placeholder='Enter price' />
    </div>
    <div class='form-group'>
      <label for='sale'>Giá đang sale sản phẩm:</label>
      <input
        type='text'
        class='form-control'
        value='{{product.sale}}'
        id='sale'
        name='sale'
        placeholder='Enter sale' />
    </div>
    <div class='form-group'>
      <label for='star'>Số sao đạt được: </label>
      <input
        type='text'
        class='form-control'
        value='{{product.star}}'
        id='star'
        name='star'
        placeholder='Enter star' />
    </div>
    <div class='form-group'>
      <label for='sold'>Số lượng đã bán: </label>
      <input
        type='text'
        class='form-control'
        value='{{product.sold}}'
        id='sold'
        name='sold'
        placeholder='Enter sold' />
    </div>
    <div class='form-group'>
      <label for='address'>Địa chỉ: </label>
      <input
        type='text'
        class='form-control'
        value='{{product.address}}'
        id='address'
        name='address'
        placeholder='Enter address' />
    </div>
    <button type='submit' class='btn btn-primary'>Lưu sản phẩm</button>
  </form>
</div>

<script>
function previewImage(event) {
  const file = event.target.files[0];
console.log(file, 'previewImage')

  const reader = new FileReader();
  reader.onload = function(e) {
    const base64Image = e.target.result;
    console.log(base64Image)
    const previewImage = document.getElementById('previewImage');
    console.log(previewImage)
    previewImage.src = base64Image;
    previewImage.style.display = 'block';
    

    // Gán giá trị base64 cho thẻ input
    const imageInput = document.getElementById('imageBase64');
    imageInput.value = base64Image;
  };

  reader.readAsDataURL(file);
}

const imageInput = document.getElementById('image');
imageInput.addEventListener('change', previewImage);


</script>