<form name="container-form" method="POST" action="/products/handle-form-action"
  class='my-4 container'>
  <p>Khóa học của tôi</p>
  {{#if deleteCount}}
  <a href='/me/trash/products'>Thùng rác ({{this.deleteCount}})</a>
  {{/if}}
  <div class='my-5 d-flex align-items-center justify-content-start'>
    <div class='form-check'>
      <input
        class='form-check-input'
        type='checkbox'
        id='checkbox-all' />
      <label class='form-check-label' for='checkbox-all'>
        Chọn tất cả
      </label>
    </div>

    <select
      style="outline: none;"
      class='form-select form-select-sm mx-3 '
      aria-label='.form-select-lg example'
      name="action"
      required="true">
      <option value> -- Chọn hành động --</option>
      <option value='delete'>Xóa</option>
    </select>

    <button class='btn btn-sm  btn-primary btn-check-all-submit disabled'>Áp dụng</button>

  </div>
  <table class='table'>
    <thead>
      <tr>
        <th scope='col'></th>
        <th scope='col'>STT</th>
        <th scope='col'>Tên sản phẩm</th>
        <th scope='col'>Giá sản phẩm</th>
        <th scope='col'>Chi tiết sản phẩm </th>
        <th scope='col'>Thời gian tạo</th>
        <th scope='col'>Chi tiết</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
      <tr>
        <td>
          <div class='form-check'>
            <input
              class='form-check-input'
              type='checkbox'
              value='{{this._id}}'
              name='productIds[]'
              id='flexCheckDefault' />
          </div>
        </td>
        <th scope='row'>{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.sale}}</td>
        <td>{{this.description}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <a
            href='/products/{{this._id}}/edit'
            class='btn btn-link'
            data-id='{{this._id}}'>Sửa</a>
          <a
            href
            class='btn btn-link'
            data-toggle='modal'
            data-id='{{this._id}}'
            data-target='#exampleModal'>Xóa</a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td>
          Bạn chưa đăng khóa học nào.<a href='/products/create'>
            Đăng kí ngay</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</form>
{{! Delete product }}
<form method='POST' name='delete-form'></form>

{{! Confirm delete product }}
<div class='modal fade' id='exampleModal' tabindex='-1' role='dialog'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h1 class='modal-title fs-5' id='exampleModalLabel'>Xóa Khóa học</h1>
        <button
          type='button'
          class='btn-close'
          data-dismiss='modal'
          aria-label='Close'></button>
      </div>
      <div class='modal-body'>
        Bạn có chắc chắn muốn xóa?
      </div>
      <div class='modal-footer'>
        <button
          id='btn-delete-product'
          type='button'
          class='btn btn-danger'>Yes</button>
        <button
          type='button'
          class='btn btn-secondary'
          data-dismiss='modal'>Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() { 
    var productId; 
    var deleteForm = document.forms['delete-form']; 
    var containerForm = document.forms['container-form'];
    var btnDeleteproduct = document.getElementById('btn-delete-product');
    var checkboxAll = $("#checkbox-all");
    var productItemCheckbox = $('input[name="productIds[]"]');
    var checkAllSubmit = $('.btn-check-all-submit');


  $('#exampleModal').on('show.bs.modal', function(event) { 
    var button = $(event.relatedTarget); 
    productId = button.data('id'); 
    });

  btnDeleteproduct.onclick = function () { 
    deleteForm.action = '/products/' + productId + '?_method=DELETE'; deleteForm.submit() 
  }; 


    checkboxAll.change(function () {
      var isCheckedAll = $(this).prop('checked');
      productItemCheckbox.prop('checked', isCheckedAll);  
      renderCheckAllSubmitBtn();
    });

    productItemCheckbox.change(function () {
      var isCheckedAll = productItemCheckbox.length === $('input[name="productIds[]"]:checked').length; 
      checkboxAll.prop('checked', isCheckedAll);  
      renderCheckAllSubmitBtn();
    });


    checkAllSubmit.click(function (e) {
      e.preventDefault();
      
      var isSubmitable = !$(this).hasClass('disabled');
      if (isSubmitable) {
        containerForm.submit();
      }
    });


    checkAllSubmit.on('submit', function (e) {
      var isSubmitable = !$(this).hasClass('disabled');

      if (!isSubmitable) {
        e.preventDefault();
      }
    })



    function renderCheckAllSubmitBtn () {
      var checkedCount = $('input[name="productIds[]"]:checked').length;
 
      if (checkedCount >= 1 ) {
        checkAllSubmit.removeClass('disabled');
      } else {
        checkAllSubmit.addClass('disabled');
      }
    }

});

</script>