<div class='my-4 container'>
  <p>Sản phẩm đã xóa!</p>
  <a href='/me/stored/products'>Danh sách Sản phẩm</a>
  <div class='my-5 d-flex align-items-center justify-content-start'>
    <div class='form-check'>
      <input
        class='form-check-input'
        type='checkbox'
        id='checkbox-all' />
      <label class='form-check-label' for='checkbox-all'>
        Chọn tất cả
      </label>
    </div>

    <select
      style="outline: none;"
      class='form-select form-select-sm mx-3 '
      aria-label='.form-select-lg example'
      name="action"
      required="true">
      <option value> -- Chọn hành động --</option>
      <option value='restore'>Khôi phục</option>
      <option value='delete'>Xóa zĩnh ziễn</option>
    </select>

    <button class='btn btn-sm  btn-primary btn-check-all-submit disabled'>Áp dụng</button>

  </div>
  <table class='table'>
    <thead>
      <tr>
        <th scope='col'></th>
        <th scope='col'>STT</th>
        <th scope='col'>Tên Sản phẩm</th>
        <th scope='col'>Chi tiết Sản phẩm</th>
        <th scope='col'>Thời gian xóa</th>
        <th scope='col'>Chi tiết</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
      <tr>
        <td>
          <div class='form-check'>
            <input
              class='form-check-input'
              type='checkbox'
              value='{{this._id}}'
              name='productIds[]'
              id='flexCheckDefault' />
          </div>
        </td>
        <th scope='row'>{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.description}}</td>
        <td>{{this.deletedAt}}</td>
        <td>
          <a
            data-id='{{this._id}}'
            href=' '
            class='btn btn-link btn-restore'>Khôi phục</a>
          <a
            href
            class='btn btn-link'
            data-toggle='modal'
            data-id='{{this._id}}'
            data-target='#exampleModal'>Xóa Vĩnh viễn</a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td>
          Thùng rác trống!<a href='/me/stored/products'>
            Quay lại</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{! Delete product }}
<form method='POST' name='delete-form'></form>

{{! Restore product }}
<form method='POST' name='restore-form'></form>

{{! Confirm delete product }}
<div class='modal fade' id='exampleModal' tabindex='-1' role='dialog'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h1 class='modal-title fs-5' id='exampleModalLabel'>Xóa Vĩnh Viễn Khóa
          học</h1>
        <button
          type='button'
          class='btn-close'
          data-dismiss='modal'
          aria-label='Close'></button>
      </div>
      <div class='modal-body'>
        Hành động này không thể khôi phục. Bạn có muốn xóa vĩnh viễn !
      </div>
      <div class='modal-footer'>
        <button
          id='btn-delete-product'
          type='button'
          class='btn btn-danger'>Yes</button>
        <button
          type='button'
          class='btn btn-secondary'
          data-dismiss='modal'>Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() { 
    var productId; 
    var deleteForm = document.forms['delete-form']; 
    var containerForm = document.forms['container-form'];
    var checkboxAll = $("#checkbox-all");
    var productItemCheckbox = $('input[name="productIds[]"]');
    var checkAllSubmit = $('.btn-check-all-submit');
    var restoreForm = document.forms['restore-form']; 
    var btnDeleteproduct = document.getElementById('btn-delete-product'); 
    var btnRestore = $('.btn-restore'); 


    $('#exampleModal').on('show.bs.modal', function(event) {
      var button = $(event.relatedTarget);
      productId = button.data('id'); 
   });


  btnDeleteproduct.onclick = function () { 
    deleteForm.action = '/products/' + productId + '/forever?_method=DELETE'; 
    deleteForm.submit() 
  };


    btnRestore.on('click', function(event) {
      event.preventDefault(); 
        var productId = $(this).data('id');
        restoreForm.action = '/products/' + productId + '/restore?_method=PATCH'; restoreForm.submit(); 
     }); 

    checkboxAll.change(function () {
      var isCheckedAll = $(this).prop('checked');
      productItemCheckbox.prop('checked', isCheckedAll);  
      renderCheckAllSubmitBtn();
    });

    productItemCheckbox.change(function () {
      var isCheckedAll = productItemCheckbox.length === $('input[name="productIds[]"]:checked').length; 
      checkboxAll.prop('checked', isCheckedAll);  
      renderCheckAllSubmitBtn();
    });


    checkAllSubmit.click(function (e) {
      e.preventDefault();
      
      var isSubmitable = !$(this).hasClass('disabled');
      if (isSubmitable) {
        containerForm.submit();
      }
    });


    checkAllSubmit.on('submit', function (e) {
      var isSubmitable = !$(this).hasClass('disabled');
      if (!isSubmitable) {
        e.preventDefault();
      }
    })

    function renderCheckAllSubmitBtn () {
      var checkedCount = $('input[name="productIds[]"]:checked').length;
 
      if (checkedCount >= 1 ) {
        checkAllSubmit.removeClass('disabled');
      } else {
        checkAllSubmit.addClass('disabled');
      }
    }
  

  });


</script>