<form name="container-form" method="POST" action="/products/handle-form-action"
  class='my-4 container'>
  <p>Tất cả người dùng</p>

  <table class='table'>
    <thead>
      <tr>
        <th scope='col'></th>
        <th scope='col'>STT</th>
        <th scope='col'>Ảnh</th>
        <th scope='col'>Tên</th>
        <th scope='col'>Quyền hạn</th>
        <th scope='col'>Thời gian tạo</th>
        <th scope='col'>Chức năng</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <td>
        </td>
        <th scope='row'>{{sum @index 1}}</th>
        <td><img style="border-radius: 20px;" src="{{this.image}}" alt="imageUser" /></td>
        <td>{{this.name}}</td>
        <td>{{this.role}}</td>
        <td>{{this.createdAt}}</td>
        <td><a
            href='/users/{{this._id}}/edit'
            class='btn btn-link'
            data-id='{{this._id}}'>Cấp quyền</a>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </form>
